<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:main/resources/sport.properties"/>

    <bean id="randomFortune" class="main.java.springDemo.RandomFortuneService"/>

    <bean id="myFortuneService" class="main.java.springDemo.HappyFortuneService"/>

    <bean id="myCoach" class="main.java.springDemo.TrackCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myBaseballCoach" class="main.java.springDemo.BaseballCoach">
        <constructor-arg ref="randomFortune"/>
    </bean>

    <bean id="myCricketCoach" class="main.java.springDemo.CricketCoach">
        <!-- Set up setter injection -->
        <property name="fortuneService" ref="randomFortune"/>
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>
</beans>